<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>GearSwap</addon>
    <addon>PetTP</addon>
    <addon>TParty</addon>
    <addon>shortcuts</addon>
    <plugin>Distance</plugin>
    <plugin>PetTP</plugin>
    <plugin>Silence</plugin>
    <plugin>Spellcast</plugin>
    <plugin>TParty</plugin>
    <plugin>Timestamp</plugin>
  </autoload>
  <profile name="">
    <consolekey>Insert</consolekey>
    <width>1920</width>
    <height>1080</height>
    <uiscale>1</uiscale>
  </profile>
</settings>